body {
  font-family: 'Inter', sans-serif;
}

/* Color */
/* Global */
h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  h2 {
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}

@media (max-width: 992px) {
  font-size: 12px;
}

.bi {
  padding-right: 5px;
}

/* Header */
header {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

header.inverted {
  background-color: #1e1e1e96;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.navbar-brand img {
  max-width: 180px;
}

.header-contact a {
  font-size: 14px;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 5px 0;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%236bc2cc" d="M22 18.005c0 .55-.446.995-.995.995h-8.01a.995.995 0 0 1 0-1.99h8.01c.55 0 .995.445.995.995ZM22 12c0 .55-.446.995-.995.995H2.995a.995.995 0 1 1 0-1.99h18.01c.55 0 .995.446.995.995Zm-.995-5.01a.995.995 0 0 0 0-1.99H8.995a.995.995 0 1 0 0 1.99h12.01Z"%2F%3E%3C%2Fsvg%3E');
}

.navbar-toggler {
  border: none;
  padding-right: 0;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #6BC2CC;
}

@media (max-width: 992px) {
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-brand img {
    width: 60px;
  }
  .header-contact {
    max-width: 180px;
  }
  .header-contact a {
    font-size: 8px;
    padding: 2px 0;
  }
}

/* Components */
.btn-link {
  color: #6BC2CC;
  border: 1px solid #6BC2CC;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
}

.btn-link:hover {
  background: #6BC2CC;
  color: #1e1e1e;
}

@media (max-width: 992px) {
  .btn-link {
    font-size: 14px;
  }
}

/* Section */
section {
  margin-top: 50px;
}

.history {
  padding: 50px 0;
}

@media (max-width: 992px) {
  .history {
    padding: 15px 0;
  }
}

/* Sale/News */
.sales {
  background: #F33939;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 100px;
  max-width: 200px;
  text-align: center;
  font-size: 16px;
}

.sales__item {
  width: 160px;
  text-align: center;
}

.sales__title {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.sales__title:hover {
  color: #6BC2CC;
}

.stories {
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 22, 222, 0.6)), to(rgba(0, 22, 222, 0.6)));
  background: linear-gradient(0deg, rgba(0, 22, 222, 0.6), rgba(0, 22, 222, 0.6));
  border: 4px solid #ffffff;
}

.stories:hover {
  border-color: #6BC2CC;
}

@media (max-width: 992px) {
  .stories {
    width: 60px;
    height: 60px;
  }
  .sales {
    font-size: 12px;
    width: 50%;
    padding: 8px 10px;
  }
  .sales__item {
    width: 90px;
    padding: 0 4px;
  }
  .sales__title {
    font-size: 8px;
  }
}

/* Category */
.cat__item {
  width: 100%;
  padding: 5px;
}

.cat__item a {
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.cat__item a:hover {
  color: #6BC2CC;
}

.cat__item img {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 10px;
}

.cat__item img:hover {
  -webkit-transform: scaleY(1.02);
          transform: scaleY(1.02);
  -webkit-box-shadow: 0px 4px 10px #6BC2CC;
          box-shadow: 0px 4px 10px #6BC2CC;
}

@media (max-width: 992px) {
  .cat__item a {
    font-size: 10px;
  }
}

/* Uslugi */
.usl__item {
  border: 0.5px solid #1e1e1e;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: .3s;
  transition: .3s;
}

.usl__item:hover {
  -webkit-filter: drop-shadow(0px 4px 10px rgba(107, 194, 204, 0.25));
          filter: drop-shadow(0px 4px 10px rgba(107, 194, 204, 0.25));
}

.usl__item-text {
  list-style-type: '\2014';
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  padding-left: 3.2rem;
}

.usl__item-text li {
  padding-left: 5px;
  padding-top: 10px;
}

.usl__item-text a {
  display: block;
  margin-top: 15px;
  color: #6BC2CC;
}

@media (max-width: 992px) {
  .usl__item {
    padding: 15px;
  }
  .usl__item h3 {
    font-size: 20px;
  }
  .usl__item-text {
    padding-left: 15px;
  }
  .usl__item-text li {
    padding-top: 7px;
  }
}

/* About */
.about__text {
  font-size: 14px;
  color: #ffffff;
  line-height: 30px;
  font-weight: 300;
}

.about__text-add span {
  border: 1px solid #6BC2CC;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  max-width: 160px;
  display: block;
  margin-right: 10px;
}

.about__quote {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  color: #6BC2CC;
  font-style: italic;
  font-weight: 300;
  border: 1px solid #6BC2CC;
  border-radius: 10px;
}

.about__seo img {
  border-radius: 1000px;
  border: 4px solid #6BC2CC;
  max-width: 250px;
}

.about__seo-social a {
  font-size: 20px;
  color: #6BC2CC;
  padding: 10px;
}

.bi-quote {
  color: #d2d2d2;
}

/* Contact */
.contact__data a {
  color: #ffffff;
}

.call-back-modal {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #6BC2CC;
  color: #6BC2CC;
  -webkit-transition: .3s;
  transition: .3s;
}

.call-back-modal:hover {
  background: #6BC2CC;
  color: #000000;
}

@media (max-width: 992px) {
  .about__text {
    font-size: 12px;
  }
  .about__quote {
    font-size: 12px;
  }
}

.maps {
  width: 100%;
  height: 250px;
}

/* Footer */
footer {
  margin-top: 100px;
  padding: 15px 0;
  background: #000000;
  color: #ffffff;
}

.footer__logo img {
  width: 100%;
  max-width: 100px;
}

.footer__logo span {
  font-size: 6px;
  padding-left: 10px;
}

.footer__company {
  font-size: 10px;
  color: #ffffff;
}

.footer__company a {
  color: #ffffff;
  text-decoration: underline;
}

.footer__private a {
  font-size: 10px;
  color: #ffffff;
  text-decoration: underline;
}

.footer__contact a {
  font-size: 10px;
  display: block;
  color: #ffffff;
}

.developer {
  padding-top: 10px;
  font-size: 8px;
  color: #d2d2d2;
}

@media (max-width: 992px) {
  .footer__logo span {
    padding-left: 0;
  }
}

/* Other */
.nav-links {
  display: none;
}

/* POST template - Category Estate */
.estate {
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(107, 194, 204, 0.1);
          box-shadow: 0px 0px 20px rgba(107, 194, 204, 0.1);
  border-radius: 10px;
}

.estate p, .estate h1, .estate h2 {
  color: #1e1e1e;
}

.estate h1 {
  font-weight: 700;
}

.estate__title {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 0;
}

.estate__title__modal {
  font-size: 16px;
  color: #1e1e1e;
}

.estate__contact {
  padding: 15px;
  background: #ececec;
  border-radius: 10px;
}

.estate__contact p {
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}

.estate__phone {
  background: #1e1e1e;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 12px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.estate__phone:hover {
  background: #6BC2CC;
  color: #1e1e1e;
}

.estate__maps iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.estate__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.estate__gallery-img {
  padding: 5px;
  width: 200px;
}

.estate__gallery-img img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.estate__data {
  font-weight: 600;
}

.estate__next {
  font-size: 16px;
  font-weight: 700;
}

.estate__next img {
  width: 100%;
  height: auto;
}

.estate__card {
  padding: 0;
  background: #ffffff;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.estate__card:hover {
  -webkit-filter: drop-shadow(0px 4px 10px rgba(107, 194, 204, 0.25));
          filter: drop-shadow(0px 4px 10px rgba(107, 194, 204, 0.25));
}

.estate__card h3 {
  color: #1e1e1e;
}

.estate__card-img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.estate__card-content {
  padding: 15px;
}

.estate__card-price p {
  font-weight: 700;
  font-size: 20px;
  color: #1e1e1e;
}

.entry-date {
  color: #d2d2d2;
  font-size: 12px;
}

.entry-header {
  margin-bottom: 25px;
}

.modal-estate-gallery {
  padding: 0;
}

.wpcf7-spinner {
  display: none;
}

@media (max-width: 992px) {
  .estate {
    padding: 15px;
  }
  .estate__title {
    font-size: 20px;
  }
  .estate__gallery-img {
    width: 50%;
  }
  .entry-date {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */