body
    font-family: 'Inter', sans-serif
    position: relative
/* Color */
$white: #ffffff
$grey: #d2d2d2
$light-grey: #ececec
$dark-grey: #363636
$black: #1e1e1e
$black-header: #1e1e1e96
$dark: #000000
$blue: #6BC2CC
$red: #F33939
$gradient: linear-gradient(180deg, #CC4141 0%, #1249B5 100%)
$bg-block: #363636
/* Global */
h1, h2, h3, h4, h5, h6
    color: $white
h2
    font-size: 3rem
h3
    font-size: 1.5rem
    margin-bottom: 0
@media (max-width: 992px)
    h2
        font-size: 1.6rem
    h3
        font-size: 1.1rem
a
    text-decoration: none
a:hover
    text-decoration: none
p
    font-size: 14px
    line-height: 30px
    color: $white
@media (max-width: 992px)
    font-size: 12px
.bi
    padding-right: 5px
/* Header */
header
    transition: background-color 0.3s ease
    &.inverted
        background-color: $black-header
        backdrop-filter: blur(5px)

.navbar-brand img
    max-width: 180px
.header-contact a
    font-size: 14px
    color: $white
    display: block
    width: 100%
    padding: 5px 0
.navbar-toggler-icon
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%236bc2cc" d="M22 18.005c0 .55-.446.995-.995.995h-8.01a.995.995 0 0 1 0-1.99h8.01c.55 0 .995.445.995.995ZM22 12c0 .55-.446.995-.995.995H2.995a.995.995 0 1 1 0-1.99h18.01c.55 0 .995.446.995.995Zm-.995-5.01a.995.995 0 0 0 0-1.99H8.995a.995.995 0 1 0 0 1.99h12.01Z"%2F%3E%3C%2Fsvg%3E')
.navbar-toggler
    border: none
    padding-right: 0
.nav-link
    color: $white
    &:hover
        color: $blue
@media (max-width:992px)
    .navbar-brand
        margin-right: 0
    .navbar-brand img
        width: 60px
    .header-contact
        max-width: 180px
    .header-contact a
        font-size: 8px
        padding: 2px 0
/* Components */
.btn-link
    color: $blue
    border: 1px solid $blue
    padding: 10px 20px
    text-decoration: none
    transition: .3s
    border-radius: 5px
    &:hover
        background: $blue
        color: $black
@media (max-width: 992px)
    .btn-link
        font-size: 14px
/* Section */
section
    margin-top: 50px

.history
    padding: 50px 0
@media (max-width: 992px)
    .history
        padding: 15px 0
/* Sale/News */
.sales
    background: $red
    color: $white
    padding: 10px 20px
    border-radius: 100px
    max-width: 200px
    text-align: center
    font-size: 16px
    &__item
        width: 160px
        text-align: center
    &__title
        font-size: 12px
        font-weight: 700
        color: $white
        transition: .3s
        &:hover
            color: $blue
.stories
    border-radius: 1000px
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15)
    background: linear-gradient(0deg, rgba(0, 22, 222, 0.6), rgba(0, 22, 222, 0.6))
    border: 4px solid $white
    &:hover
        border-color: $blue
@media (max-width:992px)
    .stories
        width: 60px
        height: 60px
    .sales
        font-size: 12px
        width: 50%
        padding: 8px 10px
        &__item
            width: 90px
            padding: 0 4px
        &__title
            font-size: 8px
/* Category */
.cat
    &__item
        width: 100%
        padding: 5px
    &__item a
        color: $white
        transition: .3s
        &:hover
            color: $blue
    &__item img
        width: 100%
        transition: .3s
        border-radius: 10px
        &:hover
            transform: scaleY(1.02)
            box-shadow: 0px 4px 10px #6BC2CC
@media (max-width: 992px)
    .cat
        &__item a
            font-size: 10px
/* Uslugi */
.usl
    &__item
        border: 0.5px solid $black
        border-radius: 10px
        padding: 30px
        align-items: flex-start
        transition: .3s
        &:hover
            filter: drop-shadow(0px 4px 10px rgba(107, 194, 204, 0.25))
    &__item-text
        list-style-type: '\2014'
        font-size: 12px
        font-weight: 300
        color: $white
        padding-left: 3.2rem
    &__item-text li
        padding-left: 5px
        padding-top: 10px
    &__item-text a
        display: block
        margin-top: 15px
        color: $blue
@media (max-width: 992px)
    .usl
        &__item
            padding: 15px
        &__item h3
            font-size: 20px
        &__item-text
            padding-left: 15px
        &__item-text li
            padding-top: 7px
/* About */
.about
    &__text
        font-size: 14px
        color: $white
        line-height: 30px
        font-weight: 300
    &__text-add span
        border: 1px solid $blue
        border-radius: 5px
        padding: 7px 12px
        font-size: 10px
        font-weight: 400
        line-height: 15px
        max-width: 160px
        display: block
        margin-right: 10px
    &__quote
        background: $black
        padding: 15px
        border-radius: 10px
        color: $blue
        font-style: italic
        font-weight: 300
        border: 1px solid $blue
        border-radius: 10px
    &__seo img
        border-radius: 1000px
        border: 4px solid $blue
        max-width: 250px
    &__seo-social a
        font-size: 20px
        color: $blue
        padding: 10px

.bi-quote
    color: $grey
/* Contact */
.contact
    &__data a
        color: $white
.call-back-modal
    padding: 10px 20px
    border-radius: 5px
    border: 1px solid $blue
    color: $blue
    transition: .3s
    &:hover
        background: $blue
        color: $dark
@media (max-width: 992px)
    .about
        &__text
            font-size: 12px
        &__quote
            font-size: 12px
.maps
    width: 100%
    height: 250px
/* Footer */
footer
    margin-top: 100px
    padding: 15px 0
    background: $dark
    color: $white
.footer
    &__logo img
        width: 100%
        max-width: 100px
    &__logo span
        font-size: 6px
        padding-left: 10px
    &__company
        font-size: 10px
        color: $white
    &__company a
        color: $white
        text-decoration: underline
    &__private a
        font-size: 10px
        color: $white
        text-decoration: underline
    &__contact a
        font-size: 10px
        display: block
        color: $white
.developer
    padding-top: 10px
    font-size: 8px
    color: $grey
@media (max-width: 992px)
    .footer
        &__logo span
            padding-left: 0
/* Other */
.nav-links
    display: none
.tags a
    width: auto
    background: $grey
    color: $black
    border-radius: 2px
    padding: 1px 3px
    font-size: 10px
    margin-left: 5px

/* POST template - Category Estate */
.estate
    padding: 40px
    background: $white
    box-shadow: 0px 0px 20px rgba(107, 194, 204, 0.1)
    border-radius: 10px
    & p, h1, h2
        color: $black
    & h1
        font-weight: 700
    &__title
        font-size: 26px
        color: $white
        margin-bottom: 0
        &__modal
            font-size: 16px
            color: $black
    &__contact
        padding: 15px
        background: $light-grey
        border-radius: 10px
        & p
            font-weight: 600
            text-align: center
            font-size: 18px
    &__phone
        background: $black
        color: $white
        font-size: 20px
        padding: 5px 12px
        border-radius: 5px
        transition: .3s
        &:hover
            background: $blue
            color: $black
    &__maps iframe
        width: 100%
        height: 300px
        border-radius: 10px
    &__gallery
        display: flex
        flex-wrap: wrap
        margin-left: -5px
        margin-right: -5px
    &__gallery-img
        padding: 5px
        width: 200px
        & img
            width: 100%
            height: auto
            border-radius: 2px
    &__data
        font-weight: 600
    &__next
        font-size: 16px
        font-weight: 700
    &__next img
        width: 100%
        height: auto
    &__card
        padding: 0
        background: $white
        border-radius: 10px
        transition: .3s
        &:hover
            filter: drop-shadow(0px 4px 10px rgba(107, 194, 204, 0.25))
        & h3
            color: $black
    &__card-img
        width: 100%
        height: 250px
        border-radius: 10px 10px 0 0
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__card-content
        padding: 15px
        & h3
            margin-bottom: 0
    &__card-price p
        font-weight: 700
        font-size: 20px
        color: $black
    &__filter
        padding-left: 0
    &__filter-item input
        padding: 5px 10px
        border-radius: 4px
        background: $blue
        color: $white
        transition: .3s
        &:hover
            background: $black
            color: $white
.btn-after
    border-radius: 2px 2px 0 0
    background: $blue
    color: $white
    bottom: -50px
    transition: .3s
    &:hover
        background: $black
.entry-date
    color: $grey
    font-size: 12px
.entry-header
    margin-bottom: 25px
.modal-estate-gallery
    padding: 0
.wpcf7-spinner
    display: none
.postform
    height: 40px
    background: $white
    font-size: 16px
    & li
        height: 30px
@media (max-width: 992px)
    .estate
        padding: 15px
        &__title
            font-size: 20px
        &__gallery-img
            width: 50%
    .entry-date
        font-size: 10px
    .entry-content
        font-size: 14px
/* Page Bilder */
.page-auto
    padding: 30px
    background: $white
    border-radius: 10px
    color: $black
    &__title h1
        color: $black
    &__text p
        color: $black
@media (max-width: 992px)
    .page-auto
        padding: 15px
/* News */
.news
    padding: 30px
    background: $white
    border-radius: 10px
    &__card-desc p
        font-size: 14px
        font-weight: 400
        color: $black
    &__title
        color: $black
    &__text p
        color: $black
@media (max-width: 992px)
    .news
        padding: 15px
